version: '3'
services:
  proxy_web:
    image: nginx:alpine
    container_name: devenv_proxy_web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - nginx_conf:/etc/nginx/conf.d
      - nginx_certs:/etc/nginx/certs
    networks:
      - default
    restart: on-failure
  proxy_dockergen:
    build: .
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - nginx_conf:/etc/nginx/conf.d
      - nginx_certs:/etc/nginx/certs
    command: -notify-sighup devenv_proxy_web -watch /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    networks:
      - default
    restart: on-failure
  proxy_dns:
    image: easyredir/dnsmasq
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    cap_add:
      - NET_ADMIN
    command: --address=/test/127.0.0.1
    networks:
      - default
    restart: on-failure
  haveged:
    image: easyredir/haveged
    privileged: true
    networks:
      - default
    restart: on-failure
  cadvisor:
    image: google/cadvisor
    expose:
      - "8080"
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
    environment:
      - VIRTUAL_HOST=cadvisor.test
    networks:
      - default
  mailcatcher:
    image: easyredir/mailcatcher:latest
    environment:
      - VIRTUAL_HOST=mailcatcher.test
      - VIRTUAL_PORT=1080
    expose:
      - "1080"
    networks:
      - default
volumes:
  nginx_conf:
  nginx_certs:
networks:
  default:
